@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,700,800,400|Open+Sans+Condensed:300,300italic|Source+Code+Pro:600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Fredericka+the+Great|Luckiest+Guy|);
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: url(../../resources/polygon.gif);
  background-blend-mode: hard-light;
  background-color: #683d76; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #7cb4e3;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: 700;
  line-height: 0.9em;
  letter-spacing: 0.01em;
  text-transform: none; }

.reveal h1 {
  font-weight: 700; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #13daec;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #13daec; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #13daec; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #13daec; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #13daec; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec; }

.vignette45deg .reveal .state-background {
  background-image: -webkit-linear-gradient(225deg, rgba(0, 0, 0, 0) 50%, black);
  background-size: cover; }

.workaround .reveal .state-background {
  background-image: repeating-linear-gradient(-60deg, transparent, transparent 35px, rgba(0, 0, 0, 0.8) 35px, rgba(0, 0, 0, 0.8) 70px);
  background-size: 90px 50px;
  background-repeat: repeat-x;
  background-color: orange; }
.workaround .reveal pre {
  background: black url("../../resources/icon_cone.svg") right 15% no-repeat;
  background-size: auto 60vh; }
.workaround .reveal h2 {
  color: black; }

.svg-scene .reveal .state-background {
  background-image: linear-gradient(#8e2525, #8e2525), url("../../resources/texture-wall.png");
  background-blend-mode: multiply;
  background-size: cover; }
.svg-scene .reveal section {
  text-align: left; }
.svg-scene .reveal #svg {
  height: 720px; }
.svg-scene .reveal .demo {
  position: absolute;
  height: 50%;
  transform: translate(0, 0); }
.svg-scene .reveal .demo.fragment {
  opacity: 1;
  transform-origin: left 30%;
  transition: transform 1s ease-out; }
.svg-scene .reveal .deer-body {
  transition: opacity 1s ease-out; }
.svg-scene .reveal .deer-glasses {
  transform: scale(0.15) translate(45px, 90px);
  fill: fuchsia; }
.svg-scene .reveal .deer-scarf {
  transform: scale(0.2) translate(30px, 80px);
  fill: green; }
.svg-scene .reveal .demo.fragment.visible {
  transform: scale(3.5); }
  .svg-scene .reveal .demo.fragment.visible .deer-head {
    animation: headbob 1.6s infinite ease-out;
    animation-delay: 3s; }

@keyframes headbob {
  25% {
    transform: translate(-1px, 2px); }

  50% {
    transform: translate(0px, 0px); }

  75% {
    transform: translate(1px, 1px); } }

.reveal pre {
  box-sizing: border-box;
  box-shadow: none;
  display: inline-block;
  font-family: "Source Code Pro", monotype;
  font-weight: 500;
  background: black;
  font-size: 1em;
  width: 200%;
  margin-left: -50%;
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 1em;
  padding-bottom: 15em;
  transform: translate(0, 0, 1); }
.reveal .not-important {
  opacity: 0.4; }
.reveal .slides section .fragment.highlight {
  opacity: 1;
  white-space: nowrap; }
.reveal .slides section .fragment.highlight.current-fragment {
  color: #000;
  background: orange; }
.reveal .demo p {
  font-size: 0.6em;
  line-height: 1.6; }
.reveal .list {
  margin: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  .reveal .list li {
    padding: 0;
    margin: 0; }
.reveal .list--horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
.reveal .monotype {
  font-family: "Source Code Pro", monotype;
  font-weight: 700; }

.support-matrix {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  caption-side: bottom; }
  .support-matrix caption {
    font-size: 0.5em;
    text-align: left; }
  .support-matrix .caveat {
    font-size: 0.6em;
    position: absolute;
    top: 10%;
    right: 10%; }
  .support-matrix img {
    width: 100px;
    height: 100px; }
  .support-matrix tr td,
  .support-matrix tr th {
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding: 0.2em; }
  .support-matrix tbody td:not(:nth-child(1)) {
    font-size: 1.5em;
    min-width: 2em; }
  .support-matrix tbody td:nth-child(1) {
    min-width: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 0.5em; }
  .support-matrix thead th:not(:nth-child(1)) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.muted {
  -webkit-filter: grayscale(1) brightness(1.5);
  filter: grayscale(1) brightness(1.5); }

.demo--graphic {
  fill: orange; }

.demo--shape-left .shape {
  float: left; }
.demo--shape-left p {
  text-align: left; }

.demo--shape-right .shape {
  float: right; }
.demo--shape-right p {
  text-align: right; }

.demo--shape-circle .shape {
  width: 250px;
  height: 250px;
  margin: 20px;
  shape-outside: circle(50% at center center); }

.demo--shape-ellipse .shape {
  width: 300px;
  height: 400px;
  shape-outside: ellipse(50% 50% at center center); }

.demo--shape-polygon .shape {
  width: 400px;
  height: 400px;
  background: url("../../resources/icon_octopus.svg") center center no-repeat;
  background-size: contain;
  shape-margin: 6px;
  shape-outside: polygon(nonzero, 111px 239px, 23px 222px, 4px 175px, 72px 95px, 120px 63px, 164px 87px, 197px 151px, 220px 90px, 279px 87px, 268px 149px, 330px 154px, 387px 181px, 390px 207px, 363px 242px, 346px 301px, 403px 290px, 371px 320px, 202px 330px, 59px 336px, 46px 318px, 53px 295px); }

.demo--shape-image .shape {
  width: 350px;
  height: 350px;
  margin: 1em;
  shape-margin: 1em;
  shape-outside: url("../../resources/espresso.png");
  shape-image-threshold: 0.5; }

.shapes-illustration div {
  background: #ffb900;
  float: left;
  margin: 0 1em 1em 0; }
  .shapes-illustration div:nth-child(1) {
    width: 6em;
    height: 4em; }
  .shapes-illustration div:nth-child(2) {
    width: 4em;
    height: 6em; }
  .shapes-illustration div:nth-child(3) {
    width: 6em;
    height: 6em; }
  .shapes-illustration div:nth-child(4) {
    width: 3em;
    height: 3em; }
  .shapes-illustration div:nth-child(5) {
    width: 1em;
    height: 1em; }
  .shapes-illustration div:nth-child(6) {
    width: 6em;
    height: 4em;
    border-radius: 1em;
    clear: left; }
  .shapes-illustration div:nth-child(7) {
    width: 4em;
    height: 6em;
    border-radius: 1em; }
  .shapes-illustration div:nth-child(8) {
    width: 6em;
    height: 6em;
    border-radius: 50%; }

.clip-surface {
  background: url("../../resources/pattern-science.png") left top;
  height: 500px; }

.clip--circle {
  -webkit-clip-path: circle(200px at 50% 50%);
  -moz-clip-path: circle(200px at 50% 50%); }

.clip--ellipse {
  -webkit-clip-path: ellipse(150px 250px at 50% 50%);
  -moz-clip-path: ellipse(150px 250px at 50% 50%); }

.clip--polygon {
  -webkit-clip-path: polygon(nonzero, 955px 405px, 483px 212px, 1px 400px, 0px 500px, 956px 500px);
  -moz-clip-path: polygon(nonzero, 955px 405px, 483px 212px, 1px 400px, 0px 500px, 956px 500px); }

.clip--interactive {
  -webkit-clip-path: url("#clip-interactive");
  -moz-clip-path: url("#clip-interactive");
  /* ISSUE: https://code.google.com/p/chromium/issues/detail?id=417370 */
  /* affects Chrome 37, Safari on IOS 8, */
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.clip--text {
  -webkit-clip-path: url("#clip-text");
  -moz-clip-path: url("#clip-text");
  -webkit-transform: translate(0, 0) scale(1.5);
  transform: translate(0, 0) scale(1.5);
  background-size: 400px; }

.clip--textpath {
  -webkit-clip-path: url("#clip-textpath");
  -moz-clip-path: url("#clip-textpath");
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  background-size: 400px; }

@supports (-webkit-clip-path: url("#clip-text")) {
  h1.clip--text,
  h1.clip--textpath {
    font-size: 0; } }
#clip-text {
  font-size: 4em; }

#clip-textpath {
  font-size: 1em; }

.font1 {
  font-family: 'Luckiest Guy', cursive; }

.font2 {
  font-family: 'Fredericka the Great', cursive; }

.font--textpath {
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: 700;
  font-size: 2em;
  word-spacing: 0.2em;
  letter-spacing: -6px; }

.offscreen {
  position: absolute;
  top: -100%;
  top: -100vh; }

.masking-illustration {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .masking-illustration .container {
    perspective: 900px;
    flex: 1 0 33%;
    transition: all 0.5s ease-out;
    z-index: 2; }
  .masking-illustration:hover .mask {
    background-size: 100% 100%;
    transform: rotateY(0deg); }
  .masking-illustration:hover .target {
    -webkit-mask-size: 100% 100%;
    transform: rotateY(0deg); }
  .masking-illustration:hover .container:nth-child(1) {
    flex: 0; }
  .masking-illustration .mask,
  .masking-illustration .source,
  .masking-illustration .target {
    transform-origin: right center;
    transform: rotateY(30deg);
    height: 600px;
    transition: all 0.5s ease-out;
    transition-delay: 0.5s; }
  .masking-illustration .mask {
    background: url("../../resources/mask-splatter.jpg");
    mask-source-type: luminance;
    background-position: center center;
    background-size: 200px 260px; }
  .masking-illustration .source,
  .masking-illustration .target {
    background: url("../../resources/mask-target.jpg") center center;
    background-size: cover; }
  .masking-illustration .target {
    -webkit-mask: url("../../resources/mask-splatter.png");
    -webkit-mask-position: center center;
    -webkit-mask-size: 200px 260px; }
